*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    
}

.header{
    text-transform: uppercase;
    font-size: 16px;
}

#jokes{
    display: flex;
    justify-content: center;
    align-items: center;
     border-radius: 10px;
    flex-direction: column;
    width: 500px;
    height: 200px;
    gap: 25px;
    background-color:burlywood;
    flex-wrap: wrap;
    padding: 10px;
}


#getJokes{
     border: 0;
    width: 150px;
    height: 30px;
    background-color:azure;
    text-transform: uppercase;
    border-radius: 10px;
    background-color:black;
    border: 1px solid rgb(16, 234, 20);
    color:yellow;

   
    
}
 
#badjokes{
    width: 80%;
   
    flex-wrap: wrap;
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.mukta-extralight {
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .mukta-light {
    font-family: "Mukta", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .mukta-regular {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .mukta-medium {
    font-family: "Mukta", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .mukta-semibold {
    font-family: "Mukta", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .mukta-bold {
    font-family: "Mukta", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .mukta-extrabold {
    font-family: "Mukta", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
